@font-face {
   font-family: 'Roobert-Light';
   src: url('./fonts/RoobertTRIAL-Light-BF67243fd502239.otf') format('opentype');
   font-weight: lighter;
   font-style: normal;
}

@font-face {
   font-family: 'Roobert-Regular';
   src: url('./fonts/RoobertTRIAL-Regular-BF67243fd53fdf2.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Roobert-Medium';
   src: url('./fonts/RoobertTRIAL-Medium-BF67243fd53e059.otf') format('opentype');
   font-weight: medium;
   font-style: normal;
}

@font-face {
   font-family: 'Roobert-Semi-Bold';
   src: url('./fonts/RoobertTRIAL-SemiBold-BF67243fd54213d.otf') format('opentype');
   font-weight: semi-bold;
   font-style: normal;
}

@font-face {
   font-family: 'Roobert-Bold';
   src: url('./fonts/RoobertTRIAL-Bold-BF67243fd540abb.otf') format('opentype');
   font-weight: bold;
   font-style: normal;
}

body,
h1,
h2,
h3,
p {
   font-family: "Roobert-Regular", sans-serif;
   padding: 0;
   margin: 0;
}

.mb-120 {
   margin-bottom: 120px !important;
}

.font-bold {
   font-weight: bold;
}

.font-medium {
   font-weight: 500;
}

.container {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
   padding: 0 20px;
}

/* Banner */
.banner {
   background-image: url('../images/banner.png');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   height: 100vh;
   display: flex;
   color: white;
   position: relative;
   overflow: hidden;
}

.banner .content-container {
   position: relative;
   height: 100%;
   z-index: 1;
}

.banner .header {
   border-bottom: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 30px 15px 10px 15px;
}

.banner .header .logo,
.banner .header .brand-info {
   display: flex;
   align-items: center;
}

.banner .header .logo .des,
.banner .header .brand-info .des {
   font-size: 18px;
   font-weight: 300;
}

.banner .header .logo {
   gap: 147px;
}

.banner .header .logo img {
   max-height: 44px;
}

.banner .header .brand-info {
   gap: 117px;
}

.banner .heading {
   font-size: 40px;
   font-weight: bold;
   position: absolute;
   bottom: 30%;
   right: 0;
}

/* Review */
.review {
   display: flex;
   align-items: center;
   position: relative;
   overflow: hidden;
   padding: 150px 0;
}

.review .background-banner {
   background-image: url("/images/bg_layer.png");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: -1;
}

.review .content-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
   z-index: 1;
}

.review h1 {
   font-size: 28px;
   font-weight: bold;
   color: #372e2c;
   display: flex;
   justify-content: center;
}

.review .details h1 {
   font-size: 28px;
   font-weight: 500;
   color: #372e2c;
   margin-bottom: 60px;
}

.review .details p {
   font-size: 16px;
   font-weight: 400;
   color: #372e2c;
   margin-bottom: 60px;
}

.review .details .rating-container {
   display: flex;
   align-items: flex-end;
}

.review .details .google-logo {
   width: 30px;
   margin-right: 20px;
}

.review .details .stars {
   color: #372e2c;
   font-size: 20px;
   margin-right: 12px;
}

.review .details .rating-value {
   font-weight: bold;
   font-size: 18px;
   color: #372e2c;
}

/* Listing */
.listing {
   display: flex;
   align-items: center;
   position: relative;
   overflow: hidden;
   padding: 150px 0;
}

.listing .background-banner {
   background-image: url("/images/bg_layer.png");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: -1;
}

.listing .brand-card {
   width: 100%;
   padding: 50px 0;
   position: relative;
   z-index: 1;
}

.listing .info-row {
   background-color: #F6F5F3;
   display: flex;
   min-height: 54.77px;
   align-items: center;
   max-width: 1024px;
   margin: auto;
   margin-bottom: 11.52px;
   padding: 10px 42px 10px 21px;
}

.listing .info-label {
   font-weight: normal;
   color: #372E2C;
   font-size: 16px;
   width: 150px;
   border-right: 1px solid #372E2C;
   display: flex;
   align-items: center;
   box-sizing: border-box;
   font-weight: 700;
   padding: 7.6px 0;
}

.listing .info-value {
   color: #372E2C;
   font-size: 15px;
   flex: 1;
   display: flex;
   justify-content: end;
   box-sizing: border-box;
   padding: 7.6px 0 7.6px 10px;
}

/* Card section */
.card-section {
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   display: flex;
   color: white;
   align-items: center;
   position: relative;
   overflow: hidden;
   padding: 150px 0;
}

.sec-1 {
   background-image: url('/images/bg_card_layer.png');
}

.sec-2 {
   background-image: url('/images/banner.png');
}

.sec-3 {
   background-image: url('/images/bg_card_layer.png');
}

.sec-4 {
   background-image: url('/images/bg_card_layer.png');
}

.sec-5 {
   background-image: url('/images/bg_card_layer.png');
}

.sec-6 {
   background-image: url('/images/bg_card_layer.png');
}

.card-section .card {
   background: #f1ecea;
   max-width: 680px;
   padding: 20px 20px 30px 20px;
   position: relative;
   z-index: 1;
}

.card-section .card:after {
   background:
      linear-gradient(-45deg, transparent 16px, #f1ecea 0),
      linear-gradient(45deg, transparent 16px, #f1ecea 0);
   background-repeat: repeat-x;
   background-position: left bottom;
   background-size: 12px 32px;
   content: "";
   display: block;
   width: 100%;
   height: 32px;
   position: absolute;
   left: 0px;
   bottom: -17px;
}

.card-section .card .card-details {
   padding: 50px 0 20px 0;
   border-bottom: 1px solid #372E2C;
}

.card-section .card.with-desc .card-details {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card-section .card .card-details h1 {
   font-size: 25px;
   color: #372E2C;
   font-weight: bold;
   max-width: 500px;
   text-align: end;
   margin-left: auto;
   margin-right: 40px;
}

.card-section .card .card-details p {
   font-size: 16px;
   color: #372E2C;
}

.card-section .card.with-desc .card-details h1 {
   margin-left: 0;
}

/* key-offerings */
.card-section .key-offerings {
   padding: 50px 0 20px 10px !important;
}

.card-section .key-offerings h1 {
   font-size: 25px;
   color: #372E2C;
   font-weight: bold;
   text-align: start !important;
   margin-left: 0 !important;
   margin-bottom: 15px;
   margin-top: 100px;
}

.card-section .key-offerings h2 {
   font-size: 18px;
   color: #372E2C;
   font-weight: bold;
   margin-bottom: 50px;
}

.card-section .key-offerings h3 {
   font-size: 18px;
   color: #372E2C;
   font-weight: 500;
   font-family: "Roobert-Medium", sans-serif;
}

.card-section .key-offerings p {
   margin-bottom: 50px;
   font-size: 18px !important;
   font-family: "Roobert-Light", sans-serif;
}

.card-section .key-offerings .points {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.card-section .key-offerings .points p {
   margin-bottom: 0;
}

/* growth-journey */
.growth-journey {
   display: flex;
   align-items: center;
   position: relative;
   overflow: hidden;
   padding: 150px 0;
}

.growth-journey .background-banner {
   background-image: url("images/bg_layer_top.png");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: -1;
}

.growth-journey .parent-container {
   display: flex;
   gap: 73px;
   position: relative;
   z-index: 1;
}

.growth-journey .brand-tagline {
   display: flex;
   justify-content: space-between;
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 31px;
   color: #372E2C;
}

.growth-journey .brand-content {
   margin-bottom: 90px;
}

.growth-journey .brand-title {
   font-size: 20px;
   margin-bottom: 8px;
   font-weight: bold;
   color: #372E2C;
}

.growth-journey .brand-description {
   font-size: 16px;
   color: #372E2C;
}

.growth-journey .table-container {
   width: 100%;
}

.growth-journey .brand-card {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.growth-journey .info-row {
   background-color: #faf5f5;
   display: flex;
   align-items: center;
   border: 1px solid #362E2C;
}

.growth-journey .info-label {
   color: #372E2C;
   font-size: 18px;
   width: 105px;
   border-right: 1px solid #362E2C;
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   padding: 15px 0;
}

.growth-journey .info-value {
   color: #372E2C;
   font-size: 16px;
   flex: 1;
   display: flex;
   box-sizing: border-box;
   padding: 10px 40px;
   justify-content: space-between;
}

.growth-journey .timeline {
   border-bottom: 1px solid #362E2C;
   display: flex;
   gap: 19px;
   padding-bottom: 10px;
}

.growth-journey .timeline-column {
   display: flex;
   flex-direction: column;
}

.growth-journey .dot {
   width: 6px;
   height: 6px;
   background-color: #99BCAB;
   border-radius: 100%;
   margin: auto;
   margin-bottom: 15px;
}

.growth-journey .column {
   background-image: linear-gradient(180deg, #f4f6ee 0%, #cbddb7 100%);
   width: 65px;
   margin-bottom: 13px;
}

.growth-journey .year {
   color: #372E2C;
   font-size: 16px;
   text-align: center;
   font-weight: 500;
}

/* Disclaimer */
.disclaimer {
   display: flex;
   align-items: center;
   padding: 150px 0;
}

.disclaimer .content-container .description {
   display: flex;
}

.disclaimer h1 {
   font-size: 28px;
   font-weight: bold;
   color: #372e2c;
   display: flex;
   justify-content: center;
   min-width: 341px;
   font-family: "Roobert-Bold", sans-serif;
}

.disclaimer .details p {
   font-size: 16px;
   color: #372e2c;
   margin-bottom: 40px;
   font-family: "Roobert-Light", sans-serif;
}

.disclaimer .info {
   display: flex;
   justify-content: end;
   gap: 40px;
   margin-top: 200px;
}

.disclaimer a {
   font-size: 16px;
   color: #372e2c;
   text-decoration: none;
}

/* financial-highlights */
.financial-highlights {
   display: flex;
   align-items: center;
   background-color: #f1ecea;
   position: relative;
   overflow: hidden;
   padding: 150px 0;
}

.financial-highlights .background-banner {
   background-image: url("/images/bg_layer.png");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: -1;
}

.financial-highlights .content-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
   z-index: 1;
}

.financial-highlights h1 {
   font-size: 28px;
   font-weight: bold;
   color: #372e2c;
   display: flex;
   justify-content: center;
}

.financial-highlights .details .table-header {
   font-size: 16px;
   font-weight: 500;
   color: #fff;
   background-color: #372E2C;
   border: 1px solid #372E2C;
   padding: 10px;
   text-align: start;
   margin-bottom: 10px;
}

.financial-highlights .details .table-body .table-row {
   border: 1px solid #372E2C;
   display: flex;
   margin-bottom: 10px;
}

.financial-highlights .details .table-body .table-row>div {
   padding: 10px;
   border-right: 1px solid #372E2C;
}

.financial-highlights .details .table-body .table-row>div:nth-child(1) {
   min-width: 40px;
   text-align: center;
}

.financial-highlights .details .table-body .table-row>div:nth-child(2) {
   min-width: 280px;
}

.financial-highlights .details .table-body .table-row>div:nth-child(3),
.financial-highlights .details .table-body .table-row>div:nth-child(4),
.financial-highlights .details .table-body .table-row>div:nth-child(5) {
   min-width: 100px;
   text-align: center;
}

.annual-scenarios>div:nth-child(2),
.annual-scenarios>div:nth-child(3),
.annual-scenarios>div:nth-child(4) {
   min-width: 100px;
   padding: 10px;
   text-align: center;
   border-right: 1px solid #fff;
}

.annual-scenarios>div:nth-child(1) {
   min-width: 341px;
   padding: 10px;
   border-right: 1px solid #fff;
}

.annual-scenarios>div:nth-child(4) {
   border-right: none;
}

.financial-highlights .annual-scenarios {
   display: flex;
   padding: 0 !important;
}

.financial-highlights .details .table-body .table-row>div:last-child {
   border-right: none;
}

/* investment-breakdown */
.investment-breakdown {
   display: flex;
   align-items: center;
   background-color: #f1ecea;
   position: relative;
   overflow: hidden;
   padding: 150px 0;
}

.investment-breakdown .background-banner {
   background-image: url("/images/bg_layer.png");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: -1;
}

.investment-breakdown .content-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
   z-index: 1;
}

.investment-breakdown h1 {
   font-size: 28px;
   font-weight: bold;
   color: #372e2c;
   display: flex;
   justify-content: center;
}

.investment-breakdown .details .table-container {
   display: flex;
   gap: 40px;
}

.investment-breakdown .details .table-container .table {
   width: 100%;
}

.investment-breakdown .details .table-container .table>div {
   font-size: 16px;
   font-weight: 500;
   color: #372E2C;
   padding: 10px;
   text-align: center;
   margin-bottom: 10px;
   border: 1px solid #372E2C;
}

.investment-breakdown .details .table-container .table>div>span {
   font-size: 11px;
   font-weight: 500;
   color: #372E2C;
}

.investment-breakdown .details .table-container {
   padding-bottom: 40px;
   margin-bottom: 60px;
   border-bottom: 1px solid #372E2C;
}

.investment-breakdown .details .table-container .table .header {
   color: #fff;
   background-color: #372E2C;
}

.investment-breakdown .details .chart {
   display: flex;
   align-items: center;
}

.investment-breakdown .details .chart .des {
   width: 50%;
}

.investment-breakdown .details .chart .graph {
   width: 50%;
}

.investment-breakdown .details .chart .graph img {
   max-width: 100%;
}

/* Team section */
.team-section {
   display: flex;
   align-items: center;
   padding: 150px 0;
}

.team-section .container {
   width: -webkit-fill-available;
}

.team-section .header {
   max-width: 900px;
   margin-bottom: 60px;
}

.team-section h1 {
   font-size: 25px;
   color: #372e2c;
   margin-bottom: 20px;
   font-weight: bold;
}

.team-section p {
   color: #372e2c;
   font-size: 16px !important;
   font-family: "Roobert-Light", sans-serif;
   max-width: 690px;
   margin: 0;
}

.team-section .team-member-wrapper {
   flex: 0 0 80%;
   scroll-snap-align: start;
   padding: 1rem;
   min-width: 300px;
   padding: 20px 30px;
   background-color: #F6F5F3;
   position: relative;
}

.team-section .team-member {
   color: #372e2c;
   padding: 18px;
   display: grid;
   grid-template-columns: 350px 1fr;
   align-items: center;
}

.team-section .member-info {
   text-align: center;
   border-right: 1px solid #372e2c;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-right: 30px;
}

.team-section .member-name {
   font-size: 16px;
   font-weight: 600;
   color: #372e2c;
   margin: 0 0 8px 0;
   text-align: end;
}

.team-section .member-title {
   font-size: 16px;
   font-weight: 600;
   color: #372e2c;
   margin: 0;
   text-align: end;
}

.team-section .member-description {
   padding-left: 30px;
}

.team-section .member-description p {
   font-size: 14px;
   color: #372e2c;
   line-height: 1.5;
   margin: 0;
   text-align: left;
}

.team-section .divider {
   height: 1px;
   background-color: #372e2c;
   margin: 0;
}

.team-section .carousel-container {
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   display: flex;
   scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
}

.team-section .carousel-track {
   display: flex;
   gap: 1rem;
   padding: 1rem;
}

.team-section .caraosal-icon {
   width: 50px;
   height: 50px;
}

.team-section .caraosal-controls {
   display: flex;
   justify-content: end;
   gap: 10px;
   margin-top: 10px;
}

.team-section .caraosal-controls>div {
   font-size: 25px;
   color: #372e2c;
   cursor: pointer;
}

/* success-points */
.success-points {
   display: flex;
   align-items: center;
   padding: 150px 0;
}

.success-points p {
   font-size: 16px;
   color: #372E2C;
   font-weight: 500;
}

.success-points .points {
   max-width: 700px;
   margin-left: auto;
   margin-top: 100px;
}

.success-points .points .point-details {
   display: flex;
   gap: 150px;
   margin-bottom: 20px;
   color: #372e2c;
}

.success-points .points .point-details .number {
   font-size: 12px;
   margin-top: 5px;
   font-weight: bold;
}

.success-points .points .point-details p {
   font-family: "Roobert-Light", sans-serif;
}

/* Revenue Screen */

.revenue{
   padding-top: 40px;
   min-height: 100vh;
}

.revenue-title-wrapper{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-block: 60px;
}

.revenue-top-description {
   font-size: 16px;
   color: #372E2C;
   font-weight: 300;
   max-width: 600px;
}

.revenue-card-img{
  width: -webkit-fill-available;
}

.revenue-card-wrapper {
  padding: 50px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  background-color: #f1ecea;
}

.revenue-card{
  max-width: 360px;
  padding: 20px;
  background-color: white;
}

.revenue-card-title {
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: bold;
}

.revenue-card-description{
  margin-top: 20px;
  font-weight: 300;
  padding-bottom: 15px;
  border-bottom: 1px solid #504f4fc3;
}

.revenue-footer {
   margin-block: 60px;
   padding-top: 10px;
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   color: #504f4fc3;
}

.revenue .background-banner {
   background-image: url("images/bg_layer_top.png");
   background-repeat: no-repeat;
   background-position: top center;
   height: 100%;
   width: 100%;
   position: absolute;
}

@media only screen and (max-width: 1280px) {
   .banner .header .logo {
      gap: 50px;
   }

   .banner .header .logo .des,
   .banner .header .brand-info .des {
      font-size: 15px;
   }

   .banner .header .brand-info {
      gap: 50px;
   }

   .banner .header .logo img {
      min-height: auto;
   }

   .review .details h1 {
      margin-bottom: 40px;
   }

   .review .details p {
      margin-bottom: 40px;
   }

   .growth-journey .parent-container {
      gap: 50px;
   }

   .growth-journey .info-label {
      font-size: 16px;
   }

   .growth-journey .info-value {
      font-size: 14px;
      padding: 10px 20px;
   }

   .growth-journey .column {
      width: 55px;
   }

   .financial-highlights .content-container,
   .investment-breakdown .content-container {
      grid-template-columns: 1fr;
      gap: 20px;
   }

   .financial-highlights .details,
   .investment-breakdown .details {
      max-width: 726px;
      margin: auto;
      width: 100%;
   }
}

@media only screen and (max-width: 1024px) {
   .growth-journey .parent-container {
      flex-direction: column;
      gap: 40px;
   }

   .growth-journey .timeline {
      margin: auto;
   }

   .disclaimer .info {
      margin-top: 100px;
   }

.revenue-title-wrapper {
   flex-wrap: wrap;
   justify-content: center;
   margin-block: 40px;
   gap: 20px;
}
}

@media only screen and (max-width: 768px) {
   .mb-120 {
      margin-bottom: 20px !important;
   }

   .banner .header {
      flex-direction: column;
      gap: 20px;
      padding: 30px 10px 10px 10px;
   }

   .banner .header .logo img {
      max-height: 30px;
   }

   .banner .header .logo,
   .banner .header .brand-info {
      width: 100%;
      justify-content: space-between;
   }

   .review h1 {
      justify-content: start;
   }

   .review .content-container {
      gap: 20px;
      grid-template-columns: 1fr;
   }

   .listing .info-row {
      flex-direction: column;
      padding: 10px 21px 10px 21px;
   }

   .listing .info-label {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #372E2C;
   }

   .listing .info-value {
      width: 100%;
      justify-content: start;
      padding: 7.6px 0 7.6px 0;
   }

   .card-section .card .card-details h1 {
      font-size: 24px;
   }

   .card-section .card.with-desc .card-details {
      flex-direction: column;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 10px;
   }

   .growth-journey .info-label {
      width: 80px;
      font-size: 14px;
   }

   .growth-journey .info-value {
      flex-direction: column;
      font-size: 12px;
   }

   .growth-journey .brand-content {
      margin-bottom: 30px;
   }

   .growth-journey .brand-tagline {
      font-size: 20px;
   }

   .growth-journey .brand-title {
      font-size: 18px;
   }

   .growth-journey .brand-description,
   .growth-journey .year,
   .review .details p,
   .disclaimer .details p,
   .investment-breakdown .details .table-container .table>div,
   .success-points p,
   .success-points .points .point-details p {
      font-size: 14px;
   }

   .card-section .key-offerings h1 {
      margin-top: 0;
   }

   .card-section .key-offerings h2 {
      margin-bottom: 20px;
   }

   .card-section .key-offerings p,
   .card-section .key-offerings h3 {
      font-size: 14px !important;
   }

   .card-section .key-offerings .points,
   .success-points .points .point-details {
      gap: 20px;
   }

   .disclaimer .content-container .description,
   .investment-breakdown .details .chart {
      flex-direction: column;
      gap: 20px;
   }

   .disclaimer h1 {
      justify-content: flex-start;
      min-width: 100%;
   }

   .disclaimer .info {
      flex-direction: column;
      align-items: center;
      gap: 15px;
      margin-top: 0;
   }

   .disclaimer .info span {
      display: none;
   }

   .financial-highlights .content-container {
      grid-template-columns: 1fr;
   }

   .financial-highlights .details {
      max-width: 100%;
      overflow: auto;
   }

   .financial-highlights .details>div {
      width: fit-content;
   }

   .investment-breakdown .details .table-container {
      gap: 10px;
      margin-bottom: 20px;
   }

   .investment-breakdown .details .chart .des,
   .investment-breakdown .details .chart .graph {
      width: 100%;
      text-align: center;
   }

   .success-points .points {
      margin-top: 50px;
      max-width: 100%;
   }

   .success-points .points .point-details h3 {
      font-size: 16px
   }

   .success-points .points .point-details .number {
      margin-top: 3px;
   }

   .team-section .title {
      font-size: 18px;
   }

   .team-section .team-member {
      grid-template-columns: 1fr;
      height: auto;
      gap: 20px;
      text-align: center;
      padding: 0;
   }

   .team-section .member-info {
      border-right: none;
      border-bottom: 1px solid #372e2c;
      padding-right: 0;
      padding-bottom: 20px;
      height: fit-content;
   }

   .team-section .member-description {
      padding-left: 0;
   }

   .team-section .member-description p {
      text-align: center;
      padding-bottom: 20px;
   }

   .team-section .team-member-wrapper {
      min-width: auto;
   }

   .team-section .member-name,
   .team-section .member-title {
      text-align: center;
   }

   .revenue-footer{
      gap: 10px;
      flex-wrap: wrap;
   }

   .banner,
   .review,
   .listing,
   .growth-journey,
   .investment-breakdown,
   .financial-highlights,
   .card-section {
      /* background-attachment: scroll; */
      /* Fallback for mobile devices */
   }
}

@media only screen and (max-width: 500px){
   .revenue-card-wrapper{
      padding-inline: 5px;
   }
}

@media only screen and (max-width: 380px){
   .revenue-card-img{
      width: 100%;
   }
}